/*--------------Navbar*/

h1, h2, h3, h4 {
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
  
}

navbarNav {
  position: right;
}
.navbar-expand{-sm,-md,-lg,-xl} 

body {
  background-color: #FFEDF4;
}

img {
  width: 100%;  
  margin: auto;
  display: inline;
  
}

/*--------------Packages------------*/  

label {
  font-family: 'Playfair Display', sans-serif;
  color:#08030c; 
  padding-left: 1em;
  padding-right: 1em;
  font-size: 30px; 

}


.package {
max-height: 330px;
max-width: 420px; 
padding: 10px;
text-align:;
margin: auto;
border-radius: 12%;


}

#package-one {
   display: inline-block;
   float: left;
   padding-left: 8em;
}

#package-two {
  display: inline-block;
  padding-bottom: 2em;
  text-align: center;
}

#package-three {
  display: inline-block;
  float: right;
  padding-right: 8em;

}

#packages {
border: none;
font-family: "Roboto", sans-serif;
}


#birthday_form {
 text-align: center;
}

fieldset {
  border: outset 2px rgb(255, 92, 255); 
  width: 300px;
  display: inline;
  padding: 0;

}

fieldset p {
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  
}

input[type=submit] {
   color:#7839A6; 
   font-style: italic; 
}

input[type=submit]:hover {
  color:rgb(255, 92, 255);
}

/*--------------Media Queries------------*/  



@media screen and (min-width: 1200px) {
  
  #company-history-section {
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  
  }

  img {
      max-width: 100%;
      padding-top: 150px;
      
  }

 
}
@media screen and (max-width: 360px) {
  
#company-history-section {
font-size: smaller;
padding-top: 20px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 10px;



}


#slideshow {
  display: none; 
}

 
  #border {
   margin: auto;
   width: 100%;

  }

/*--------------text and headers------------*/  


}


#company-history {

font-family: 'Merriweather', sans-serif;
  text-align: center;
  border: 2px outset #;
  width: 500px;
  padding: 10px;
  border: outset 2px rgb(255, 92, 255);
  vertical-align: middle;

}

p {
font-family: 'Roboto', sans-serif; 
}


h1 {
  padding-left: 1em;
}





/*--------------navbar and footer------------*/  

#navbarNav {
  font-size: large;
  float: right;

  
}

#navbarNav li {
  float: right;
}

#socials {
  text-align: center;
}
#socials a {
  text-decoration: none;
}
#socials i {
  font-size: 40px;
  color: #7839A6;
}


/*---------------slideshow-------------*/

#slideshow {
  text-align: center;
  overflow: hidden;
  height: 630px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  height: 900px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 750px;
  width: 728px;
}

.slide:nth-child(1) {
  background: none;
}

.slide:nth-child(2) {
  background: none;
}

.slide:nth-child(3) {
  background: none;
}

.slide:nth-child(4) {
  background: none;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}



