@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

/*--------------Navbar*/

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", sans-serif;
  text-align: center;
}

/*--------------General styling*/

body {
  background-color: #ffedf4;
}

img {
  width: 100%;
  margin: auto;
  display: inline;
}

.index-page-image-m {
  display: none;
}

h3 {
  margin: auto;
  padding: 30px;
}

h2 {
  margin: auto;
  padding-top: 3em;
  padding-bottom: 1em;
}

label {
  font-family: "Playfair Display", sans-serif;
  color: #08030c;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 2em;
  text-align: center;
}

#socials {
  margin: auto;
  padding: 2em;
}

/* ------------------ */
.d-flex {
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
}

.form-container {
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}


.d-flex {
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-container {
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}


fieldset {
  display: flex;
  flex-direction: column;
  border: 1px outset rgb(168, 39, 183);
  border-radius: 5px;
  padding: 20px;

}

button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f0a5d8;
  padding-left: 10px;


}

#center-button {
  padding-left: 4em;
  padding-bottom: 1em;

}

.name,
.email,
.number {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.labelSmall {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
}

input {
  border-radius: 5px;
}

Add Comment
/*--------------Packages------------*/

label {
  font-family: "Playfair Display", sans-serif;
  color: #08030c;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 2em;
  text-align: center;
}

.right-package {
  text-align: center;
  padding-right: 5em;
}

.package {
  max-height: 330px;
  max-width: 420px;
  padding: 10px;
  border-radius: 12%;
}

#package-one {
  display: inline-block;
}

#package-two {
  display: inline-block;
  text-align: center;
}

#package-three {
  display: inline-block;
}

#packages {
  border: none;
  font-family: "Roboto", sans-serif;
}



fieldset {
  border: outset 2px #cfaeff;
  width: 300px;
  display: inline;
  padding: 0;
}

fieldset p {
  font-family: "Roboto", sans-serif;
  font-weight: 550;
}

button {
  color: #7839a6;
  font-style: italic;
}

button:hover {
  color: rgb(255, 92, 255);
}

/*--------------Contact Page------------*/

#map {
  text-align: center;
}

#contact {
  text-align: center;
  padding-top: 1em;
}

#contact i {
  color: #7839a6;
}

/*--------------Media Queries------------*/

@media screen and (min-width: 1200px) {
  .navbar-expand #company-history-section {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }

  img {
    max-width: 100%;
    padding-top: 150px;
  }

  #package-one-m {
    display: none;
  }




}

@media screen and (max-width: 991px) {
  .bg-dark {
    --bs-bg-opacity: 0;
  }

  .nav-link,
  .navbar-toggler {
    background-color: #212529;
    width: 70px;
    float: right;
  }

  .nav-link {
    font-size: smaller;
    text-align: center;
  }

  .navbar-toggler {
    margin: 0;
    border-radius: 0;
    float: right;
  }

  .navbar-brand {
    background-color: #212529;
    width: 100%;
    margin: 0;
  }

  h1 {
    padding-right: 1em;
  }

  #nav {
    padding: 0;
    justify-content: end;
  }
}

#row1 {
  margin-bottom: 100px;
}


@media screen and (max-width: 508px) {
  #slideshow {
    display: none;
  }

  .index-page-image-m {
    display: block;
    max-width: 85%;
    padding-top: 5em;
  }

  iframe {
    max-width: 75%;
  }

  .navbar-toggler {
    position: absolute;
    top: 5px;

  }

  label {
    font-size: 100%;


  }
}


/*---------------------------BDAYPACKAGES------------------*/

.package {
  overflow: hidden;
}

#package-one label {
  font-size: 2em;
}

#package-two label {
  font-size: 2em;
}

#package-three label {
  font-size: 2em;
}

#packages {
  text-align: center;
  font-size: 1em;
}

/*--------------text and headers------------*/

#company-history {
  font-family: "Merriweather", sans-serif;
  text-align: center;
  border: 2px outset;
  width: 500px;
  padding: 10px;
  border: solid 2px #90ffd2;
  vertical-align: middle;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 {
  padding-left: 1em;
}

/*--------------navbar and footer------------*/

#navbarNav {
  font-size: large;
  float: right;
}

#navbarNav li {
  float: right;
}

#socials {
  text-align: center;
}

#socials a {
  text-decoration: none;
}

#socials i {
  font-size: 40px;
  color: #c7a0ff;
}

/*---------------SLIDE SHOW CODE WRITTEN BY GRADAR ON CODEPEN.IO-------------*/

#slideshow {
  text-align: center;
  overflow: hidden;
  height: 630px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  height: 900px;
  animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 750px;
  width: 728px;
}

.slide:nth-child(1) {
  background: none;
}

.slide:nth-child(2) {
  background: none;
}

.slide:nth-child(3) {
  background: none;
}

.slide:nth-child(4) {
  background: none;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }

  30% {
    margin-left: -728px;
  }

  50% {
    margin-left: -728px;
  }

  60% {
    margin-left: -1456px;
  }

  70% {
    margin-left: -1456px;
  }

  80% {
    margin-left: -2184px;
  }

  90% {
    margin-left: -2184px;
  }
}